@font-face {
  font-family: LibreBaskerville;
  src: url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap");
}

:root {
  --light-gray-shadow: rgba(176, 166, 166, 0.399);
  --dark-gray-shadow: rgba(91, 84, 84, 0.534);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: rgba(143, 168, 212, 0.974);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.4rem;
  background-color: white;
  padding: 2rem 2rem 2rem 2rem;
  font-family: LibreBaskerville;
  font-weight: 700;
  box-shadow: 0 1rem 1rem var(--light-gray-shadow);
}

.header-icon {
  height: 6rem;
  margin-right: 2rem;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: sans-serif;
}

.add-book-button {
  width: 20rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-weight: 700;
}

.library-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  grid-auto-rows: 18rem;
  width: 100%;
}

.book-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  padding: 2rem;
  font-size: 1.6rem;
  box-shadow: 0.3rem 0.3rem 0.5rem var(--dark-gray-shadow);
  border-radius: 1rem;
}

.book-title {
  font-size: 2rem;
  font-weight: 700;
}

#popup {
  font-size: 2rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  border-radius: 2rem;
  padding: 2rem;
  border: solid;
  border-color: black;
  box-shadow: 1rem 1rem 1rem var(--dark-gray-shadow);
  z-index: 10;
}

#popup.active {
  transform: translate(-50%, -50%) scale(1);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.popup-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.popup-header .close-button {
  border: none;
  background: none;
  outline: none;
  font-size: 2rem;
  font-weight: 700;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.is-read-field {
  flex-direction: row;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
